@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

.bg-custom-black {
  background-color: #161616;
}

.bg-custom-card {
  background-color: #1c1c1c;
}

.bg-custom-cyan {
  background-color: #00ceff;
}

.text-custom-black {
  color: #0c0c0c;
}

.text-custom-cyan {
  color: #00ceff;
}

.text-custom-white {
  color: #f0f0f0;
}

.text-custom-muted {
  color: #999999;
}

.text-custom-dim {
  color: #666666;
}

.text-custom-darkGrey {
  color: #2a2a2a;
}

.border-custom-darkGrey {
  border-color: #2a2a2a;
}
